@charset "utf-8";

/*la majorité du formulaire d'achat est definit dans le fichier formulaire.css*/

/*Nous ajoutons ici un bouton de contact de whatsapp*/
form .whatsapp {
  width: 60%;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

form .whatsapp a {
  background-color: #4dc247;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

form .whatsapp a img {
  height: 35px;
  width: auto;
}

@media screen and (max-width: 750px) {
  form .whatsapp {
    width: 80%;
    margin-top: 18%;
  }
}
