@charset "utf-8";

/*panier*/

@charset "utf-8";

.basket{
    background-color: rgb(255, 255, 255, 0.55);
    display: block;
    margin: auto;
    border-radius: 20px;
    width: 90%;
    height: 70vh;
    min-height: 500px;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-color: grey lightgrey;
    scrollbar-width: thin;
}

.basket-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20px;
    border: solid black 2px;
}
.basket-item img{
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.nombre{
    width: 200px;
    text-align: center;
}

.basket-item button{
    padding: 5px;
    font-size: 1.5em;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

#price{
    margin-right: 10px;
    cursor: none;
}

@media screen and (max-width:650px){

    .basket{
        width: 100vw;
        margin: 0;
    }

    .basket-item img{
        width: 100px;
    }
    
    .basket-item button{
        font-size: 1em;
    }

    .nombre{
        width: 98px;
    }

}